
body {
    background-color: rgb(243, 232, 246);
    margin:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.image {
    height: 100vh;
    width: 40vw;
}

.image > img {
    height: 100%;
    width: 100%;
}

.logo {
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    height: 15vh;
    width: 40vw;
    margin-top: 15vh;
    font-size: medium;
    background-color: rgb(0, 0, 0, .5);
}

.logo > img {
    height: 85%;
}

.logo > p {
    font-size: 60px;
    font-weight: lighter;
}


.right {
    height: 100vh;
    width: 60vw;
}

.text {
    height: 25vh;
    color: rgb(14, 67, 14);
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 70px;
    padding-top: 30px;
    padding-bottom: 8px;
    overflow: scroll;
}

.info {
    height: 37vh;
    color:  rgb(14, 67, 14);
    font-size: 20px;
    margin-left: 65px;
    margin-right: 65px;
    background-color: rgb(248, 242, 251);
    border-radius: 10px;
    padding: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: scroll;
}

.info > p {
    font-size: 24px;
}

.info > form {
    display: flex;
    flex-wrap: wrap;
}

label {
    display: block;
    width:300px;
}

input {
    display: block;
    width: 250px;
    background-color:  rgb(244, 237, 247);
    border-radius: 5px;
}

form > div {
    margin-bottom: 25px;
}

.bottom {
    height: auto;
    margin-top: 50px;
    margin-left: 65px;
    margin-right: 65px;
    color: rgb(6, 28, 6);
    overflow: scroll;
}

button {
    background-color: rgb(14, 67, 14);
    color:rgb(248, 242, 251);
    width: 210px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: rgb(14, 67, 14);
}




